.modal__background {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(105, 101, 101, 0.3);
    overflow: hidden;
    z-index: 9999;
}

.modal__container {
    width: 500px;
    height: 175px;
    background-color: white;
    border-radius: 15px;
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-70%);
    animation: slide-in-bottom 0.7s both;
}

.modal__upper-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

.modal__title {
    font-size: 24px;
    font-weight: bold;
}

.modal__close-btn {
    position: absolute;
    margin-top: 8px;
    cursor: pointer;
    right: 15px;
    top: 6px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 0 0 30px;
    font-size: 20px;
}

.modal__form label:not(:first-child) {
    padding-top: 20px;
}

.modal__form input[type = 'radio'] {
    all: revert;
    width: 25px;
    height: 20px;
    accent-color: purple;
    position: relative;
    top: 2px;
    margin-right: 15px;
}

/* -------------------ANIMATIONS--------------------------*/

@keyframes slide-in-bottom {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(50%,-50%);
    }
}


